<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="p-4">
    <!-- Email -->
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" name="email" ngModel required placeholder="john.doe@company.com"></ion-input>
    </ion-item>

    <!-- Password -->
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" name="password" ngModel required placeholder="*********"></ion-input>
    </ion-item>

    <!-- Login button -->
    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">Login</ion-button>

    <!-- Navigation buttons -->
    <ion-button expand="full" fill="clear" color="primary" (click)="goToRegister()">
      Crear cuenta
    </ion-button>

    <ion-button expand="full" fill="clear" color="medium" (click)="goToResetPassword()">
      ¿Olvidaste tu contraseña?
    </ion-button>
  </form>
</ion-content>
